@import "_mixins";

body {
    font-family: Verdana, sans-serif;
    color: white;
}

block1, block2, block3, div1, div2 {
    margin-top: 30px;
    display: flex;
}

div {
    height: 130px;
    margin: 2px;
    text-align: center;
}

block1 {
    @include mixins-block;
}

block2 {
    @include mixins-block($block_color: green);
}

block3 {
    @include mixins-block($block_color: blue);
}


