body {
    display: flex;
    min-width: 100vh;
    flex-direction: column;
}

.container {
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 50% 50%;
    grid-template-areas:
        "b-nav bloque1 bloque1"
        "b-nav bloque2 bloque2";
}

.enlaces {
    grid-area: b-nav;
    background-color: lightsalmon;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.enlaces div {
    margin: auto;
}

.bloque-1 {
    grid-area: bloque1;
    background-color: lime;
}

.bloque-2 {
    grid-area: bloque2;
    background-color: mediumseagreen;
}

@media screen and (max-width: 920px) {
    .container {
        width: 100%;
        grid-template-columns: 33% 33% 33%;
        grid-template-rows: 20% 50% 50%;
        grid-template-areas: 
            "b-nav b-nav b-nav"
            "bloque1 bloque1 bloque1"
            "bloque2 bloque2 bloque2";
    }
    .enlaces {
        flex-direction: row;
    }
}

@media screen and (max-width: 600px) {
    .container {
        grid-template-rows: 5% 50% 50%;
        grid-template-areas: 
            "b-nav b-nav b-nav"
            "bloque1 bloque1 bloque1"
            "bloque2 bloque2 bloque2";
    }
    .enlaces {
        flex-direction: row;
    }
}