body {
    display: flex;
    flex-direction: column;
}

.container {
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 50% 50%;
    grid-template-areas:
        "d-links block1 block1"
        "d-links block2 block2";
}

.d-links {
    grid-area: d-links;
    background-color: lightsalmon;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.d-links div {
    margin: auto;
}

.d-block-1 {
    grid-area: block1;
    background-color: lime;
}

.d-block-2 {
    grid-area: block2;
    background-color: mediumseagreen;
}

@media screen and (max-width: 920px) {
    .container {
        width: 100%;
        grid-template-columns: 33% 33% 33%;
        grid-template-rows: 20% 50% 50%;
        grid-template-areas: 
            "d-links d-links d-links"
            "block1 block1 block1"
            "block2 block2 block2";
    }
    .d-links {
        flex-direction: row;
    }
}

@media screen and (max-width: 600px) {
    .container {
        grid-template-rows: 5% 50% 50%;
        grid-template-areas: 
            "d-links d-links d-links"
            "block1 block1 block1"
            "block2 block2 block2";
    }
    .d-links {
        flex-direction: row;
    }
}